@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/KhachHang.cshtml";
}
<div class="breadcrumbs">
    <div class="locations" style="margin-left: 15%;">
        <a href="@Url.Action("Index", "Home")"><img src="~/Content/Image/home.svg" /></a>
    </div>
    <div class="locations">
        <img src="~/Content/Image/Next.svg" />
    </div>
    <div class="locations">
        <a href="@Url.Action("ViewCart", "Home")" style="text-decoration:none; color: #808080">Giỏ hàng</a>
    </div>
    <div class="locations">
        <img src="~/Content/Image/Next.svg" />
    </div>
    <div class="locations">
        <span style="color: #C58A66">Thông tin thanh toán</span>
    </div>
</div>
