@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/KhachHang.cshtml";
}
<div class="container_thumnail">
    <div class="img_box">
        <img src="~/Content/Image/Background.png" />
    </div>
    <div class="features">
        <img src="~/Content/Image/Featured.svg" />
    </div>
</div>