@using DoAn_LapTrinhWeb.Models;
@model List<SanPham>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/KhachHang.cshtml";
}

<div class="product_container">
    <div class="menu">
        @Html.Action("Menu_Product", "Home")
    </div>
    <div class="products">
        <h2>DANH SÁCH SẢN PHẨM</h2>
        <div class="row">
            @foreach (SanPham sp in Model)
            {
                <div class="product-item">
                    <div class="card">
                        <img src="~/Content/HinhAnh/@sp.HinhAnh" alt="Alternate Text" class="card-img-top" />
                        <div class="card-body">
                            <div class="card-title">
                                <p>@sp.TenSanPham</p>
                                <p style="font-size:16px; font-weight:500">@sp.Gia</p>
                            </div>
                            <div class="card-btn">
                                <img style="align-self:flex-end" src="~/Content/Image/Add To Cart.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
