@using DoAn_LapTrinhWeb.Models;
@model List<SanPham>

@{
    ViewBag.Title = "Products";
    <link rel="stylesheet" href="~/Content/ProductItem.css" />
    Layout = "~/Views/Shared/KhachHang.cshtml";
}

<div class="product_container">
    <div class="menu">
        @Html.Action("Menu_Product", "Home")
    </div>
    <div class="products">
        <h2>DANH SÁCH SẢN PHẨM</h2>
        <div class="row">
            @foreach (SanPham sp in Model)
            {
                <div class="product-item">
                    <div class="corner-icons">
                        <a href="#"><img src="~/Content/Image/AddToWishList.svg" alt="Add to Wish List" /></a>
                        <a href="#"><img src="~/Content/Image/QuickView.svg" alt="Quick View" /></a>
                    </div>
                    <div class="card">
                        <a href="/Home/ProductDetails/@sp.MaSanPham">
                            <img src="~/Content/HinhAnh/@sp.HinhAnh" alt="Alternate Text" class="card-img-top" />
                        </a>
                        <div class="card-body">
                            <div class="card-title">
                                <p>@sp.TenSanPham</p>
                                <p style="font-size:16px; font-weight:500">@sp.Gia.ToString("N0")</p>
                            </div>
                            <div class="card-btn">
                                <a href="/Home/AddToCart?MaSP=@sp.MaSanPham&SoLuong=1">
                                    <img style="align-self:flex-end" src="~/Content/Image/Add To Cart.svg" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
