@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/KhachHang.cshtml";
}

<h2>ĐÂY LÀ TRANG NHÂN VIÊN</h2>

<a href="/NhanVien/Products">QUẢN LÝ SẢN PHẨM</a>

<a href="/NhanVien/Orders">QUẢN LÝ ĐƠN HÀNG</a>
